body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}
header {
  background: #004d61;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}
footer {
  background: #004d61;
  color: white;
  text-align: center;
  padding: 1rem;
}
